---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        Learn more about my projects on:
        <ul>
            <li><Social platform="github" username="e-i-r-a" /></li>
            <li><Social platform="x" username="__raphy__" /></li>
        </ul>
    </p>
</footer>
